<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
	  <th><%= "FactoryId" %></th>
	  <th><%= "Description" %></th>
	  <th><%= "Latitude" %></th>
	  <th><%= "Longitude" %></th>
	  <th><%= "Device" %></th>
	  <th><%= "Created At" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.name %></td>
        <td><%= beacon.factory_id %></td>
        <td><%= beacon.description %></td>
        <td><%= beacon.latitude %></td>
        <td><%= beacon.longitude %></td>
		<td><%= image_tag beacon.image %></td>
        <td><%=l beacon.created_at, format: :short  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_beacon_path(beacon), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      beacon_path(beacon),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
