<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name" %><span class="fa fa-arrows-v fa-fw" aria-hidden="true"></span></th>
	  <th><%= "FactoryId" %></th>
	  <th><%= "Description" %></th>
	  <th><%= "Latitude" %></th>
	  <th><%= "Longitude" %></th>
	  <th><%= "Device" %></th>
	  <th><%= "Created At" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.name %></td>
        <td><%= beacon.factory_id %></td>
        <td><%= beacon.description %></td>
        <td><%= beacon.latitude %></td>
        <td><%= beacon.longitude %></td>
		<td><%= image_tag beacon.image %></td>
        <td><%=l beacon.created_at, format: :short  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_beacon_path(beacon), :class => 'btn btn-default btn-s fa fa-pencil' %>
		  <a type="submit" class="btn btn-s btn-danger fa fa-times" onClick="$('#myBeaconModal').modal()">Deactivate</a>
        </td>
      </tr>
	  
	  <div class="modal fade" id="myBeaconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title" id="myModalLabel">Deactivate</h4>
	        </div>
	        <div class="modal-body">
	          Are you sure you want to deactivate this Beacon?
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	     	 <%= link_to " Deactivate Beacon", beacon_path(beacon),
	     	               :method => 'delete',
	     	               :class => 'btn btn-danger fa fa-times',
	     				    :role=>'menuitem', :tabindex=>'-1' %>
	        </div>
	      </div>
	    </div>
	  </div>
    <% end %>
  </tbody>
</table>
<%= will_paginate @beacons %>