<%= form_for @beacon, :html => { :class => "form-horizontal beacon" } do |f| %>

    <% if @beacon.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @beacon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group field">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@beacon[:name]) %>
  </div>
  <div class="control-group field">
	<%= f.label :factory_id, 'Factory Id', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :factory_id, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@beacon[:factory_id]) %>
  </div>
  <div class="control-group field">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@beacon[:description]) %>
  </div>
  <div class="control-group field">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@beacon[:latitude]) %>
  </div>
  <div class="control-group field">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@beacon[:longitude]) %>
  </div>
  <div class="control-group field">
    <div class="controls">
	  <input type="checkbox" name="activate_gimbal[]" value="1" checked/> Activate in Gimbal
	  <p></p>
    </div>
  </div>
  <p></p>
  

  <%= f.submit nil, :class => 'btn btn-success' %>
  <%= link_to "Cancel", :back, :class => 'btn btn-default' %>

<% end %>
