<%= form_for @owner, :html => { :class => "form-horizontal owner" } do |f| %>

    <% if @owner.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @owner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@owner[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'form-control', :autocomplete => :off %>
	    <%= f.file_field :image %>
    </div>
    <%= error_span(@owner[:image]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control', :autocomplete => :off %>
    </div>
    <%= error_span(@owner[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :owner_type, :class => 'control-label' %>
    <div class="controls">
	  <%= f.radio_button :owner_type, "Company", :checked => true %><p>Company</p>
	  <%= f.radio_button :owner_type, "Event" %><p>Event</p>
    </div>
    <%= error_span(@owner[:owner_type]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
            :back, :class => 'btn btn-default' %>
			

<% end %>
