<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "id"%><span class="fa fa-arrows-v fa-fw" aria-hidden="true"></span></th>
      <th><%= sortable "name"%><span class="fa fa-arrows-v fa-fw" aria-hidden="true"></span></th>
      <th><%= "Image" %></th>
      <th><%= "Description" %></th>
      <th><%= "Type" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.id %></td>
        <td><%= link_to owner.name, owner_path(owner), style: 'color:#4275a8;' %></td>
        <td><%= image_tag owner.image_url(:thumb).to_s %></td>
        <td><%= owner.description %></td>
        <td><%= owner.owner_type %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_owner_path(owner), :class => 'btn btn-default btn-s fa fa-pencil' %>
		  <%= link_to t('.show', :default => t("helpers.links.show")),
		              owner_path(owner),
		              :class => 'btn btn-primary btn-s fa fa-eye' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      owner_path(owner),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-s btn-danger fa fa-times' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @owners %>