<%= javascript_include_tag "application" %>
<%- model_class = Owner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag owners_path, :method => 'get', :id => "owners_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], :autocomplete => :off %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="owners"><%= render 'owners' %></div>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_owner_path,
            :class => 'btn btn-primary' %>
